$main: rgb(217, 48, 127);
$dark: rgb(172, 46, 176);
$edge: rgb(41, 40, 91);
$light: rgb(183, 145,200);
$green: rgb(87, 197, 179);

.logo-container {
  width: 25em;
  height: 25em;
}

.logo {
  width: 1em;
  height: 1em;
  // background-color: $white;

  box-shadow: 14em 1em $dark,
              15em 1em $edge,
              16em 1em $main,
              16em 2em $main, 
              16em 3em $main,
              16em 4em $main,
              17em 1em $light,
              18em 1em $green,
              19em 1em black,
              20em 1em black,


}